@using TravelTripProje.Models.Siniflar
@using PagedList
@using PagedList.Mvc

@model  PagedList.PagedList<Yorumlar>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Yorum LİSTESİ</h2>
<br />
<table class="table table-bordered">
    <tr>
        <th>ID</th>
        <th>Kullanıcı Adı</th>
        <th>Mail</th>
        <th>Yorum</th>
        <th>Blog id</th>
        <th>SİL</th>
        <th>GÜNCELLE</th>
        <th>DETAYLAR</th>
    </tr>
    @foreach (var i in Model)
    {
        <tr>
            <th>@i.ID</th>
            <th>@i.KullaniciAdi</th>
            <th>@i.Mail</th>
            <th>@i.Yorum</th>
            <th>@i.Blogid</th>
            <th><a href="/Yorum/Sil/@i.ID" class="btn btn-danger">SİL</a></th>
            <th><a href="/Yorum/YorumGetir/@i.ID" class="btn btn-success">GÜNCELLE</a></th>
            <th><a href="/Blog/BlogDetay/@i.Blogid" class="btn btn-default">Detaylar</a></th>
        </tr>
    }

</table>
@Html.PagedListPager((IPagedList)Model,sayfa=>Url.Action("Index",new { sayfa}))
<th><a href="/Yorum/YeniBlog/" class="btn btn-primary">BLOG EKLE</a></th>

